@font-face {
	font-family: "PT Sans";
	src:
	url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
       		
}

@font-face {
	font-family: "PT Sans";
	src:
	url("../fonts/ptsansbold.woff2") format("woff2"), 
    url("../fonts/ptsansbold.woff") format("woff");
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;	
}

a {
	text-decoration: none;
	color: #000000;
}

.visually-hidden {
	display: none;
}

.main-header {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

ul.site-navigation {					/* Хедер */
	list-style: none;
}

.site-navigation a {
	font-size: 14px; 
	line-height: 26px;					/* Хедер */
	font-weight: bold;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {				/* Хедер */
	color: #000000;
	opacity: 0.3;
}

p.header-1 {
	text-align: center;
	font-size: 21px;				/* Седона - небольшой городок... */
	line-height: 26px;
	font-weight: bold;
	color: #000000; 
}

p.header-2 {
	text-align: center;				/* Рассмотрим пять причин... */
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}

.feature-item h2,
.features h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.feature-item span {
	display: block;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-align: center;
}

.feature-item p,
.features p {
	font-size: 14px; 
	line-height: 21px;
	color: #333333;
	text-align: center;
}

.features ul {
	list-style: none;
	text-align: center;
}

div.feature-item {
	background-color: #81b3d2;
}

li.feature-item {
	background-color: #eeeeee;
}

.interest {
	text-align: center;
}

.interest h3 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.interest p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}

button.search {
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	border-style: none;
	width: 568px;
	height: 86px;
}

button.search:hover {
	background-color: #604e43;
	color: #ffffff;
}

button.search:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);

}

button.btn {
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	border-style: none;
	width: 568px;
	height: 86px;
}

button.btn:hover {
	background-color: #669ec0;
	color: #ffffff;
}

button.btn:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

label.form-index {
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.hashtag {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.madeby {
	color: #000000;
	font-size: 14px;
	line-height: 26px;
}

.catalog-list {
	list-style: none;
	font-size: 14px;				/* Список с чек-боксами */
	line-height: 21px;				/* Бассейн, Парковка, Wi-Fi */
	color: #ffffff;					/* Гостиница, Мотель, Апартаменты */
	background-color: #323e44;		
	font-weight: 400;
}

.form-header {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;				/* Инфраструктура, Тип жилья */
	color: #ffffff;
	background-color: #323e44;
}

.catalog-btn {
	border-color: #ffffff;
	color: #ffffff;
	background-color: #323e44;				/* кнопка ПОКАЗАТЬ */
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: normal;
	outline: none;
	padding: 10px 35px;
	border: 2px solid white;
}

.find b {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.find a,
.find span {
	font-size: 12px;
	line-height: 18px;
}

.sort {
	color: #cacaca;				/* По цене, По типу, По рейтингу */

}

.sort:hover {
	color: #81b3d2;
}



.sort,
.sort:hover {
	border-bottom: 1px dotted #81b3d2;
}

.sort:active {
	color: #000000;
	border-bottom: none;
}


.name-hotel h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.name-hotel a:hover {
	color: *#81b3d2;
}

.name-hotel a:active {
	color: rgba(0,0,0,0.3);
}

.stars {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

.link-blue,
.link-brown {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.link-blue {
	background-color: #81b3d2;
}

.link-brown {
	background-color: #766357;
}

.social {
	background-color: #81b3d2;
}

.social:hover {
	background-color: #669ec0;
}

.social:active {
	background-color: #5496bd;
}

.social img:active {
	opacity: 0.3;
}