@font-face {
	font-family: "PT Sans", sans-serif;
	src: local("PT Sans");
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;	
}

a {
	text-decoration: none;
	color: #000000;
}

.main-header {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

ul.site-navigation {
	list-style: none;
}

.site-navigation a {
	font-size: 14px; 
	line-height: 26px;
	font-weight: bold;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

p.header-1 {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000; 
}

p.header-2 {
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}

.feature-item h2,
.features h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.feature-item span {
	display: block;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-align: center;
}

.feature-item p,
.features p {
	font-size: 14px; 
	line-height: 21px;
	color: #333333;
	text-align: center;
}

.features ul {
	list-style: none;
	text-align: center;
}
